{% extends 'base.html' %}

{% block head %}
<title>Measurement Book</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Location Coordinates</h1>


    <div class="form">
        <form action="/" method="POST">

            <div class="mb-3">
                <label for="msi_name">Starting Point Latitude</label>
                <input type="text" name="start_lat" id="start_lat">
            </div>
            <div class="mb-3">
                <label for="msi_name">Starting Point Longitude</label>
                <input type="text" name="start_long" id="start_long">
            </div>
            <div class="mb-3">
                <label for="msi_name">Ending Point Latitude</label>
                <input type="text" name="end_lat" id="end_lat">
            </div>
            
            <div class="mb-3">
                <label for="pop_type">Ending Point Longitude</label>
                <input type="text" name="end_long" id="end_long">
            </div>
            
            

            <div>
                <a href="/">Submit</a>
            </div>
            
        </form>
    </div>
    


</div>
{% endblock %}